simple-supabase-test.json
{
  "name": "Simple Supabase Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-supabase"
      },
      "id": "webhook-test",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true,
        "limit": 1
      },
      "id": "test-supabase",
      "name": "Test Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [[{"node": "Test Supabase", "type": "main", "index": 0}]]
    },
    "Test Supabase": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": true
}