n8n-workflows/auth/user-registration.json
{
  "name": "用户注册工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "register-webhook",
      "name": "注册Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "user-registration"
    },
    {
      "parameters": {
        "jsCode": "// 验证输入数据\nconst { email, password, username } = $input.first().json;\n\nif (!email || !password || !username) {\n  throw new Error('缺少必要字段');\n}\n\n// 验证邮箱格式\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('邮箱格式不正确');\n}\n\n// 验证密码强度\nif (password.length < 6) {\n  throw new Error('密码长度至少6位');\n}\n\nreturn {\n  email: email.toLowerCase(),\n  password,\n  username,\n  created_at: new Date().toISOString()\n};"
      },
      "id": "validate-input",
      "name": "验证输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "users",
        "columns": "={\n  email: $json.email,\n  username: $json.username,\n  created_at: $json.created_at\n}",
        "returnFields": "*"
      },
      "id": "create-user",
      "name": "创建用户",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabase": {
          "id": "supabase-credentials",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 生成响应\nconst user = $input.first().json;\n\nreturn {\n  success: true,\n  message: '用户注册成功',\n  user: {\n    id: user.id,\n    email: user.email,\n    username: user.username,\n    created_at: user.created_at\n  }\n};"
      },
      "id": "generate-response",
      "name": "生成响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "注册Webhook": {
      "main": [
        [
          {
            "node": "验证输入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证输入": {
      "main": [
        [
          {
            "node": "创建用户",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创建用户": {
      "main": [
        [
          {
            "node": "生成响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成响应": {
      "main": [
        [
          {
            "node": "响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "user-registration-workflow",
  "tags": ["认证", "用户管理"]
}
