n8n-workflows/supabase-connection-test.json
{
  "name": "Supabase Users Table Connection Test",
  "nodes": [
    {
      "parameters": {},
      "id": "f6c1c0e0-6b1a-4c1a-9b1a-1c1a9b1a1c1a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "get",
        "tableId": "users",
        "returnAll": false,
        "limit": 5,
        "additionalFields": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Query Users Table",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "supabase-credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Check Connection Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "✅ CONNECTION SUCCESS"
            },
            {
              "name": "message",
              "value": "Supabase users table connection is working properly"
            },
            {
              "name": "test_time",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "records_found",
              "value": "={{ $('Query Users Table').all().length }}"
            },
            {
              "name": "sample_data",
              "value": "={{ JSON.stringify($('Query Users Table').first(), null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Success Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "❌ CONNECTION FAILED"
            },
            {
              "name": "message",
              "value": "No data returned from users table or connection error"
            },
            {
              "name": "test_time",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "error_details",
              "value": "={{ $json.error || 'No records found in users table' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Failure Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        900,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Users Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Users Table": {
      "main": [
        [
          {
            "node": "Check Connection Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection Success": {
      "main": [
        [
          {
            "node": "Success Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "test-instance"
  },
  "id": "supabase-connection-test",
  "tags": [
    {
      "createdAt": "2025-01-29T07:00:00.000Z",
      "updatedAt": "2025-01-29T07:00:00.000Z",
      "id": "test-tag",
      "name": "database-test"
    }
  ]
}