n8n-workflows/lesson/get-course-details.json
{
  "name": "获取课程详情工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/courses/={{ $parameter.courseId }}",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "course-details-webhook",
      "name": "课程详情触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [280, 300],
      "webhookId": "course-details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "course-id",
              "name": "courseId",
              "value": "={{ $('课程详情触发器').item.json.params.courseId }}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{ $('课程详情触发器').item.json.query.userId || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-params",
      "name": "提取参数",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "get",
        "tableId": "courses",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $json.courseId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "get-course",
      "name": "获取课程基本信息",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "supabase-credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "get",
        "tableId": "course_ratings",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "course_id",
              "condition": "equals",
              "keyValue": "={{ $json.courseId }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "get-course-ratings",
      "name": "获取课程评分",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "supabase-credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "get",
        "tableId": "user_progress",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "course_id",
              "condition": "equals",
              "keyValue": "={{ $json.courseId }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "get-course-progress",
      "name": "获取课程进度",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 600],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "supabase-credentials"
        }
      }
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "get",
        "tableId": "course_lessons",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "course_id",
              "condition": "equals",
              "keyValue": "={{ $json.courseId }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "get-course-lessons",
      "name": "获取课程章节",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [720, 800],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "supabase-credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const course = $('获取课程基本信息').first().json;\nconst ratings = $('获取课程评分').first().json || [];\nconst progressData = $('获取课程进度').first().json || [];\nconst lessons = $('获取课程章节').first().json || [];\nconst params = $('提取参数').first().json;\nconst userId = params.userId;\n\nif (!course) {\n  throw new Error('课程不存在');\n}\n\n// 计算评分统计\nconst ratingStats = {\n  avgRating: 0,\n  totalRatings: ratings.length,\n  ratingDistribution: { 5: 0, 4: 0, 3: 0, 2: 0, 1: 0 }\n};\n\nif (ratings.length > 0) {\n  const totalRating = ratings.reduce((sum, rating) => sum + rating.rating, 0);\n  ratingStats.avgRating = Math.round((totalRating / ratings.length) * 10) / 10;\n  \n  // 评分分布\n  ratings.forEach(rating => {\n    ratingStats.ratingDistribution[rating.rating]++;\n  });\n}\n\n// 计算注册和完成统计\nconst enrollmentStats = {\n  totalEnrollments: progressData.length,\n  completedStudents: progressData.filter(p => p.progress >= 100).length,\n  inProgressStudents: progressData.filter(p => p.progress > 0 && p.progress < 100).length,\n  averageProgress: 0\n};\n\nif (progressData.length > 0) {\n  const totalProgress = progressData.reduce((sum, p) => sum + p.progress, 0);\n  enrollmentStats.averageProgress = Math.round((totalProgress / progressData.length) * 10) / 10;\n}\n\n// 用户个人进度（如果提供了用户ID）\nlet userProgress = null;\nif (userId) {\n  const userProgressData = progressData.find(p => p.user_id === userId);\n  if (userProgressData) {\n    userProgress = {\n      progress: userProgressData.progress,\n      lastAccessedAt: userProgressData.last_accessed_at,\n      completedLessons: userProgressData.completed_lessons || [],\n      timeSpent: userProgressData.time_spent || 0,\n      isCompleted: userProgressData.progress >= 100,\n      enrolledAt: userProgressData.created_at\n    };\n  }\n}\n\n// 处理课程章节\nconst processedLessons = lessons\n  .sort((a, b) => a.order - b.order)\n  .map(lesson => ({\n    id: lesson.id,\n    title: lesson.title,\n    description: lesson.description,\n    duration: lesson.duration,\n    order: lesson.order,\n    type: lesson.type, // video, text, quiz, etc.\n    isPreview: lesson.is_preview || false,\n    videoUrl: lesson.video_url,\n    content: lesson.content,\n    resources: lesson.resources || [],\n    isCompleted: userProgress ? \n      userProgress.completedLessons.includes(lesson.id) : false\n  }));\n\n// 计算总时长\nconst totalDuration = processedLessons.reduce((sum, lesson) => sum + (lesson.duration || 0), 0);\n\n// 获取最新评论（前5条）\nconst recentReviews = ratings\n  .filter(rating => rating.comment && rating.comment.trim())\n  .sort((a, b) => new Date(b.created_at) - new Date(a.created_at))\n  .slice(0, 5)\n  .map(rating => ({\n    id: rating.id,\n    userId: rating.user_id,\n    userName: rating.user_name || '匿名用户',\n    rating: rating.rating,\n    comment: rating.comment,\n    createdAt: rating.created_at\n  }));\n\n// 相关课程推荐（同分类的其他课程）\nconst relatedCourses = []; // 这里可以扩展为查询同分类的其他课程\n\nconst result = {\n  course: {\n    id: course.id,\n    title: course.title,\n    description: course.description,\n    instructor: course.instructor,\n    instructorBio: course.instructor_bio,\n    duration: totalDuration || course.duration,\n    difficulty: course.difficulty,\n    category: course.category,\n    thumbnail: course.thumbnail,\n    price: course.price,\n    tags: course.tags || [],\n    requirements: course.requirements || [],\n    learningObjectives: course.learning_objectives || [],\n    status: course.status,\n    createdAt: course.created_at,\n    updatedAt: course.updated_at\n  },\n  ratings: ratingStats,\n  enrollment: enrollmentStats,\n  userProgress: userProgress,\n  lessons: {\n    total: processedLessons.length,\n    items: processedLessons,\n    previewLessons: processedLessons.filter(l => l.isPreview)\n  },\n  reviews: {\n    recent: recentReviews,\n    total: ratings.filter(r => r.comment && r.comment.trim()).length\n  },\n  relatedCourses: relatedCourses,\n  canEnroll: !userProgress, // 用户未注册则可以注册\n  timestamp: new Date().toISOString()\n};\n\nreturn result;"
      },
      "id": "process-course-details",
      "name": "处理课程详情",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "data": "={{ $json }}",
          "timestamp": "={{ $json.timestamp }}"
        },
        "options": {}
      },
      "id": "success-response",
      "name": "成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 500]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().error;\n\nreturn {\n  success: false,\n  error: '获取课程详情时发生错误：' + (error.message || '未知错误'),\n  timestamp: new Date().toISOString(),\n  details: {\n    errorType: error.name || 'UnknownError',\n    errorMessage: error.message || '未知错误'\n  }\n};"
      },
      "id": "error-handler",
      "name": "错误处理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 500,
        "options": {}
      },
      "id": "error-response",
      "name": "错误响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 700]
    }
  ],
  "connections": {
    "课程详情触发器": {
      "main": [
        [
          {
            "node": "提取参数",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取参数": {
      "main": [
        [
          {
            "node": "获取课程基本信息",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取课程评分",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取课程进度",
            "type": "main",
            "index": 0
          },
          {
            "node": "获取课程章节",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取课程基本信息": {
      "main": [
        [
          {
            "node": "处理课程详情",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取课程评分": {
      "main": [
        [
          {
            "node": "处理课程详情",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "获取课程进度": {
      "main": [
        [
          {
            "node": "处理课程详情",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "获取课程章节": {
      "main": [
        [
          {
            "node": "处理课程详情",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "处理课程详情": {
      "main": [
        [
          {
            "node": "成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "错误处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "错误处理": {
      "main": [
        [
          {
            "node": "错误响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "course-details-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "CourseDetailsWorkflow",
  "tags": ["courses", "details", "lessons", "progress", "supabase"]
}