n8n-workflows/ai-tutor/ai-question.json
{
  "name": "智能问答",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/ai/question",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "64ac7f5a-8caf-4b58-ba75-c6d0d6a6e8c6",
      "name": "AI问答触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        192
      ],
      "webhookId": "ai-question"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "question",
              "name": "question",
              "value": "={{ $('AI问答触发器').item.json.body.question }}",
              "type": "string"
            },
            {
              "id": "userId",
              "name": "userId",
              "value": "={{ $('AI问答触发器').item.json.body.userId || 'user-' + Date.now() }}",
              "type": "string"
            },
            {
              "id": "context",
              "name": "context",
              "value": "={{ $('AI问答触发器').item.json.body.context || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "609d77d0-80ca-4b18-a06c-2809c3d19985",
      "name": "解析输入",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "question-exists",
              "leftValue": "={{ $json.question }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "abdc6bcd-775d-48fb-a4b4-b6733cc47971",
      "name": "验证输入",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        320,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $('解析输入').first().json;\n\nconsole.log('构建AI请求 - 输入数据:', JSON.stringify(inputData));\n\n// 确保userId符合Dify要求格式\nlet userId = inputData.userId;\nif (!userId || userId.trim() === '' || userId === 'undefined' || userId === 'null') {\n  userId = 'user-' + Date.now(); // 使用连字符格式，符合示例\n}\n\n// 确保question不为空\nlet question = inputData.question;\nif (!question || question.trim() === '') {\n  throw new Error('问题内容不能为空');\n}\n\nconst result = {\n  userId: userId,\n  question: question.trim(),\n  context: inputData.context || '',\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('构建AI请求 - 输出数据:', JSON.stringify(result));\nconsole.log('即将发送给Dify - userId:', userId, 'question:', question);\nreturn result;"
      },
      "id": "20c7180a-7387-459e-ac86-37c996da59b7",
      "name": "构建AI请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dify.ai/v1/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer app-4lsTc1J3JsbwoHXdAxGONNkH"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "query",
              "value": "={{ $json.question }}"
            },
            {
              "name": "inputs"
            }
          ]
        },
        "options": {}
      },
      "id": "b2414423-2c08-47a8-a292-ec38db2bae14",
      "name": "调用Dify AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst requestData = $('构建AI请求').first().json;\n\nlet aiAnswer = '';\nlet success = false;\n\nconsole.log('Dify API响应:', JSON.stringify(response));\n\n// 解析Dify聊天助手API响应格式\nif (response) {\n  // Dify聊天助手标准响应格式: response.answer\n  if (response.answer && typeof response.answer === 'string') {\n    aiAnswer = response.answer;\n    success = true;\n  }\n  // 检查是否有错误\n  else if (response.code && response.code !== 200) {\n    console.log('Dify API错误:', response.message || response.error);\n    aiAnswer = 'AI服务暂时不可用，请稍后再试。';\n    success = false;\n  }\n  // 其他可能的响应格式\n  else if (response.data && response.data.answer) {\n    aiAnswer = response.data.answer;\n    success = true;\n  }\n}\n\n// 如果AI调用失败，提供友好的错误回复\nif (!success || !aiAnswer.trim()) {\n  aiAnswer = '抱歉，我现在遇到了一些技术问题，无法正常回答您的问题。请稍后再试。';\n  success = false;\n  console.log('Dify响应解析失败，原始响应:', JSON.stringify(response));\n}\n\nreturn {\n  userId: requestData.userId,\n  question: requestData.question,\n  answer: aiAnswer.trim(),\n  success: success,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "b70fff62-fc6f-476d-8cda-e5450fbd0c95",
      "name": "处理响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": "={{ $json.success }}",
          "question": "={{ $json.question }}",
          "answer": "={{ $json.answer }}",
          "timestamp": "={{ $json.timestamp }}"
        },
        "options": {}
      },
      "id": "301872b5-867b-4060-b74e-c6fd1d53db5a",
      "name": "成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": false,
          "error": "问题内容不能为空",
          "timestamp": "={{ new Date().toISOString() }}"
        },
        "options": {
          "responseCode": 400
        }
      },
      "id": "a3e1f6cd-5b8d-4a52-8e06-4da60384b886",
      "name": "错误响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "AI问答触发器": {
      "main": [
        [
          {
            "node": "解析输入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析输入": {
      "main": [
        [
          {
            "node": "验证输入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证输入": {
      "main": [
        [
          {
            "node": "构建AI请求",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "错误响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建AI请求": {
      "main": [
        [
          {
            "node": "调用Dify AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Dify AI": {
      "main": [
        [
          {
            "node": "处理响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理响应": {
      "main": [
        [
          {
            "node": "成功响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a413fbd8-5d59-462c-a321-8f9e9567c8f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05ac2e44f854bb011b13eeea1560430c3dcea8c972692ef9e0ee9b9856a82398"
  },
  "id": "N1ojvcfVVsZUqBcE",
  "tags": []
}